.contact-us-sec {
    background: #51b447;
    display: flex;
    padding: 100px;
    background: #51b447;
    justify-content: center;
}

.contact-us-sec form {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background: #040c03;
    padding: 100px;
}

.contact-us-sec label {
    font-family: sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: .8em;
    color: #FFF;
}

.contact-us-sec input[type=text] {
    display: inline-block;
    border: none;
    text-align: left;
    box-shadow: 3px 2px #52b447ad;
    padding: 10px;
    width: 350px;
    margin: 10px 0;
    background: transparent;
    color: #FFF;
}

.contact-us-sec input[type=text]:focus {
    background: none;
    border: none;
    color: #FFF;
}

.contact-us-sec button {
    background: transparent;
    color: #FFF;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 20px 0;
    padding: 10px 30px;
    border: 2px solid #FFF;
}

.contact-us-sec button:hover {
    background: transparent;
    border: 2px solid #082005;
}